<!--- #this is what the user will see when they press a button and random coordination will come up and return its output
	#jinja2 linked from service 2, 3, 4 --->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Battleships</h1>
    <p>Let's solve a game of Battleships!!!!!</p>
    <div>
</head>
<body>

    <p> {{ random_letter }} is your random number. </p>
    <p> {{ random_number }} is your random number. </p>
    <p> {{ hitMiss }} </p>

</body>
    </div>
</html>
